@font-face {
    font-family: 'Osake'; 
    src: url('../tipografia/Osake.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: 'Renji';
    src: url('../tipografia/Renji\ Free\ Trial.ttf') format('truetype'); 
  }
  
  @font-face {
    font-family: 'Arkhip'; 
    src: url('../tipografia/Arkhip_font.ttf') format('truetype'); 
  }

*{
    font-family: 'Arkhip', sans-serif;
    box-sizing: border-box;
}
 

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 50px;
    background: rgba(255, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo{
    font-size: 32px;
    color: #fff;
    font-family: 'Renji', sans-serif;
    text-decoration: none;
    margin-right: 600px;
}

.opcion{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar img{
    margin-left: 50px;
}

.navbar a{
    position: relative;
    font-size: 15px;
    color: #fff;
    margin-left: 10px ;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a.active::before,
.navbar a:hover::before,
.navbar a:focus::before {
    width: 100%;
}





body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url(../media/neon-fondo.jpg);
    
}

.seccion1, .seccion2{
    width: 100%;
    min-height: 100vh;
    position: relative;
    
}

.seccion1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../media/neon.jpg);
    background-size: cover;
}

.seccion1 .text {
    top: 25%; 
    font-size: 18vw; 
}

.seccion2{
    display: flex;
}

.text{
    top: 30%;
    left: 50%;
    position: absolute;
    font-family: 'Osake', sans-serif; 
    font-size: 15vw;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
    transform: scale(1, 1.1) translate(-50%, 10%);
}



.contenedor1 {
    display: flex;
    justify-content: flex-end;
    margin-top: 25vh;
    flex-direction: row-reverse;
}

.info {
    max-width: 50%;
    text-align: justify; 
    padding-left: 20px; 
    margin-top: 10px;
    color: white;
    order: -1; 
}

.titulo{
    font-family: 'Osake', sans-serif;
    text-align: left;
}

.mifoto {
    padding-right: 20px; 
    margin-top: 10px;
    order: 1; 
    display: inline-block;
    margin: 10px; 
}

.mifoto img {
    max-width: 100%;
    height: 40vh;
    display: block;
    margin-left: 20px; 
    color: white;
    width: 30vh;
    z-index: 1;
    cursor: pointer;
}



.contenedor2{
    display: flex;
    justify-content: flex-end;
    margin-top: 22vh;
    flex-direction: row-reverse;
}
  
.mapa{
    padding-right: 20px; 
    margin-top: 10px;
    order: 1; 
    display: inline-block;
}
  
.mapa iframe {
    max-width: 100%;
    height: 40vh;
    display: block;
    margin: 20px; 
    width: 70vh;
    z-index: 1;
}
  



.contenedor3 {
    text-align: center;
    margin-top: 20vh;
}
  
.formulario {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.form-group {
    margin-bottom: 20px;
}
  
label {
    display: block;
    margin-bottom: 5px;
}
  
input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
  
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
  
.error {
    color: red;
    font-size: 12px;
}
  








footer {
    background-color: rgba(255, 0, 0, 0.9);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    margin-top: 0px; 
}
  
footer p {
    margin: 0;
    margin-top: 10px; 
    font-size: 14px;
}




/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .logo {
      margin-right: 0;
      font-size: 24px;
    }
  
    .navbar {
      padding: 10px 20px;
    }
  
    .navbar img {
      margin-left: 20px;
    }
  
    .navbar a {
      font-size: 14px; 
    }

    .formulario {
        max-width: 80%;
        margin: 0 auto;
        padding: 15px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mifoto img {
        width: 100%;
        height: auto;
    }
      
    .mapa iframe {
        max-width: 100%;
        height: 250px;
    }

    .info {
        max-width: 100%;
        order: 0;
        text-align: center;
        padding: 0 20px;
        margin-top: 20px;
    }
      
    button {
        width: 100%;
    }
}
  

/* Small devices (landscape phones, entre 576px y 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .logo {
      margin-right: 0;
      font-size: 28px;
    }
  
    .navbar {
      padding: 10px 25px;
    }
  
    .navbar img {
      margin-left: 30px;
    }
  
    .navbar a {
      font-size: 16px;
    }

    .formulario {
        max-width: 80%;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mifoto img {
        width: 100%;
        height: auto;
    }
      
    .mapa iframe {
        max-width: 100%;
        height: 300px;
    }

    .info {
        max-width: 100%;
        order: 0;
        text-align: center;
        padding: 0 20px;
        margin-top: 20px;
    }
      
    button {
        width: 100%;
    }
   
}
  

/* Medium devices (tablets, entre 768px y 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .logo {
      margin-right: 0;
      font-size: 30px;
    }
  
    .navbar {
      padding: 10px 30px;
    }
  
    .navbar img {
      margin-left: 40px;
    }
  
    .navbar a {
      font-size: 18px;
    }

    .formulario {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mifoto img {
        width: 100%;
        height: auto;
    }
      
    .mapa iframe {
        max-width: 100%;
        height: 350px;
    }

    .info {
        max-width: 50%;
        text-align: justify;
        padding-left: 20px;
        margin-top: 10px;
        color: white;
        order: -1;
    }
      
    button {
        width: 100%;
    }

    
}
  
/* Large devices (desktops, entre 992px y 1199.98) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .logo {
      margin-right: 0; 
      font-size: 32px;
    }
  
    .navbar {
      padding: 10px 40px;
    }
  
    .navbar img {
      margin-left: 50px;
    }
  
    .navbar a {
      font-size: 20px;
    }

    .formulario {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mifoto img {
        width: 100%;
        height: auto;
    }
      
    .mapa iframe {
        max-width: 100%;
        height: 400px;
    }

    .info {
        max-width: 50%;
        text-align: justify;
        padding-left: 20px;
        margin-top: 10px;
        color: white;
        order: -1;
    }
      
    button {
        width: 100%;
    }
}
  
/* Extra large devices (large desktops, entre 1200px y 1399.98px) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    .logo {
      margin-right: 50px; 
      font-size: 34px;
    }
  
    .navbar {
      padding: 10px 45px;
    }
  
    .navbar img {
      margin-left: 60px;
    }
  
    .navbar a {
      font-size: 22px;
    }

    .formulario {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .mifoto img {
        width: 100%;
        height: auto;
    }
      
    .mapa iframe {
        max-width: 100%;
        height: 450px;
    }

    .info {
        max-width: 50%;
        text-align: justify;
        padding-left: 20px;
        margin-top: 10px;
        color: white;
        order: -1;
    }
      
    button {
        width: 100%;
    }
}
  
/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {

}
  
